.App {
  height: 100vh;
  text-align: center;
  background-size: cover;
 
}
.PokemonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  margin-bottom: 0px;
  background-position: bottom;
  background-image: url("./images/homeScreen.jpg");
}

.CharacterContainer {
  display: grid;
  align-items: center;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr  1fr 1fr 1fr 1fr 1fr;
  row-gap: 15px;
}
.Character{
  background: linear-gradient(45deg, rgb(252, 60, 60), rgb(255, 251, 0));
  border: solid 1px black;
  
  height: 140px;width: 160px;;
}
.homeScreen {
  height: 100vh;
  width: 100vw;
  margin-bottom: 0px;
  background-image: url("./images/homeScreen.jpg");
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;  
}


.glitch-window {
  font: 700 4em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: .25em 0 .325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
cursor: pointer;
border: none;
  background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y; 
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: aitf 50s linear infinite; /* Use animation with @keyframes */
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}
.glitch-window:hover{
  background: none ;
  -webkit-text-fill-color: hsl(0, 0%, 0%);
  box-shadow: 10px 10px 10px 0px rgba(255, 60, 0, 0.7);
  border-radius: 50px;
  border: solid black;
}
/* Define the animation @keyframes */
@keyframes aitf {
  0% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}



#leftmost-img {
  position: absolute;
  left: 0; 
  bottom: 0;
  height: 300px;
}

#rightmost-img {
  position: absolute;
  right: 0; 
  bottom: 0;
  height: 250px;
}


